# -------------------------
# Spring Boot / Maven
# -------------------------

# Ignore all target contents
target/*

# But keep any JARs in target
!target/*.jar

# Ignore Maven wrapper jar (optional)
.mvn/wrapper/maven-wrapper.jar

# -------------------------
# STS
# -------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# -------------------------
# IntelliJ IDEA
# -------------------------
.idea
*.iws
*.iml
*.ipr

# -------------------------
# NetBeans
# -------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Misc
# -------------------------
HELP.md
/target/
